body {
  padding: 0;
  margin: 0;
  font-size: 14px;
}
a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
a:hover {
  outline: none;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
  color: #4B3049;
  font-family: "Poppins", sans-serif;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
p {
  font-family: "Rubik", sans-serif;
  line-height: 2;
  font-size: 15px;
  margin-bottom: 0px;
  color: #795376;
  font-weight: 400;
}
h5 {
  font-size: 18px;
  line-height: 22px;
}

img {
  max-width: 100%;
}
a:focus, .button:focus, button:focus, .btn:focus {
  text-decoration: none;
  outline: none;
  box-shadow: none;
  -webkit-transition: 1s;
  transition: 1s;
}

.navbar-collapse {
  z-index: 9999 !important;
  position: absolute;
  left: 0;
  top: 52px;
  width:60%;
  background-color: #fff;
  /* text-align: center !important; */
  right: 0;
  z-index: 9998;
  border: 0;
  background:rgb(209, 186, 186);
  font-size: 14px;
  font-weight: 400;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align:left;

}
.navbar-light li{
  margin-bottom: 8px;
  padding-left: 10px;
  padding-right: 5px;
  width: auto;
  height:auto;
}
.navbar-light .navbar-toggler {
  border-color: transparent;
  position: absolute;
}

.menu_icon i {
  color:red;
}

h1 {
  font-size: 36px;
}

h4 {
  font-size: 18px;
}
h5 {
  font-size: 16px;
}
h6 {
  font-size: 14px;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
}

.main-nav, .main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* search button */
.search {
  display: flex;
  height: 20px;
  padding: 3px;
  width: 30px;
  position: relative;
  transition: width 450ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
  overflow: hidden;
}
.search__input {
  flex-grow: 1;
  border: none;
  background: transparent;
  padding: 0 0.5rem;
  font-size: 1.5rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  opacity: 0;
  width:90%;
  cursor: pointer;
}
.search__input:focus {
  outline: none;
}
.search__btn {
  font-size: 1.8rem;
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50vh;
  height: 10px;
  width: 10px;
  margin-left: auto;
  margin-right:10px;
  transition: background 150ms ease-in-out;
  color:red;
}
.search__btn:focus {
  outline: none;
}
.search:focus-within {
  width: 100%;
}
.search:focus-within .search__input {
  opacity: 1;
  cursor: initial;
}
.search:focus-within .search__btn {
  background:transparent;
  color: white;
}
.search:focus-within .search__btn:hover, .search:focus-within .search__btn:focus {
  outline: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.65);
}
.mobile-bottom-nav {
  left: 0;
  right: 0;
  z-index: 1000; 
	font-size:25px;
	bottom:-16px;
	position:fixed;
  will-change: transform;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  display: -webkit-box;
  display: flex;
  height: 50px;
  box-shadow: 0 -2px 5px -2px rgb(243, 79, 79);
  background-color: #fff;
  border-color: red;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
  background-color:pink;
}
#lblCartCount {
    font-size: 15px;
    background:#ce873a;
    color:white;
    padding: 0 4px;
    vertical-align: top;
    margin-left: -10px; 
}
