include CHANGELOG.md
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include CONTRIBUTING.rst
include deploy.md
include DESCRIPTION
include dev_checklist.md
include dev_requirements.txt
include Dockerfile
include Heroku.yml
include INSTALL.md
include LICENSE
include MANIFEST.IN
include package.json
include package-lock.json
include procfile
include push-checklist.md
include requirements.txt
include requirements_migrations.txt
include runtime.txt
include TERMS.md
include text
include tox.ini
include tree.txt
include dockerignore
include editorconfig
include .env
include gitattributes
include .gitignore
include README.md
