addict==2.2.1
aiofiles==0.4.0
altair==3.2.0
amqp==2.5.2
aniso8601==7.0.0
anyjson==0.3.3
appdirs==1.4.4
argh==0.26.2
asgiref==3.2.7
asn1crypto==0.24.0
astor==0.8.0
atomicwrites==1.3.0
attrs==19.2.0
autopep8==1.5
Babel==2.8.0
backcall==0.1.0
base58==1.0.3
beautifulsoup4==4.8.2
billiard==3.6.2.0
bleach==3.1.0
blinker==1.4
boto3==1.12.3
botocore==1.15.3
braintree==3.49.0
cachetools==4.0.0
cairocffi==1.1.0
CairoSVG==2.4.2
celery==4.4.0
certifi==2020.4.5.2
cffi==1.14.0
cfgv==3.1.0
chardet==3.0.4
Click==7.0
colorama==0.4.3
contextvars==2.4
coreapi==2.3.3
coreschema==0.0.4
coverage==4.5.4
cryptography==2.1.4
csscompressor==0.9.5
cssselect2==0.2.2
cycler==0.10.0
dash==1.9.0
dash-core-components==1.8.0
dash-html-components==1.0.2
dash-renderer==1.2.4
dash-table==4.6.0
decorator==4.4.0
defusedxml==0.6.0
demjson==2.2.4
distlib==0.3.0
dj-database-url==0.5.0
dj-email-url==0.2.0
dj-static==0.0.6
django-admin-charts==0.12.0
django-admin-honeypot==1.1.0
django-admin-timeline==1.7.2
django-admin-tools==0.9.0
django-adminactions==1.8.1
django-adminplus==0.5
django-advanced-filters==1.1.1
django-allauth==0.41.0
django-app-namespace-template-loader==0.4.1
django-appconf==1.0.3
django-autofixture==0.12.1
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap-datepicker-widget==0.1
django-bootstrap-form==3.4
django-bootstrap3==12.0.3
django-bootstrap4==1.1.1
django-bower==5.2.0
django-braces==1.14.0
django-celery==3.3.1
django-ckeditor==5.8.0
django-classy-tags==0.9.0
django-cms==3.7.1
django-colorful==1.3
django-compat==1.0.15
django-compressor==2.3
django-contrib-comments==1.9.2
django-countries==5.5
django-crispy-forms==1.8.1
django-dbbackup==3.3.0
django-el-pagination==3.3.0
django-email-extras==0.3.4
django-extensions==2.2.8
django-extra-views==0.11.0
django-filter==2.2.0
django-forms-builder==0.14.0
django-formtools==2.2
django-google-analytics-app==4.4.0
django-graphql-jwt==0.3.0
django-haystack==2.8.1
django-helpdesk==0.2.19
django-hijack==2.1.10
django-hijack-admin==2.1.10
django-jet==1.0.8
django-jet2==1.0.10
django-js-asset==1.2.2
django-json-ld==0.0.4
django-jsonfield==1.4.0
django-jsonview==0.4.3
django-libs==2.0.2
django-list-wrestler==6.3
django-livesync==0.5
django-login-required-middleware==0.4
django-markdown-deux==1.0.5
django-markup-deprecated==0.0.3
django-measurement==3.2.0
django-modelcluster==5.0.1
django-mptt==0.11.0
django-newsletter==0.9.1
django-nine==0.2.3
django-nvd3==0.9.7
django-organizations==1.1.2
django-oscar==2.0.4
django-oscar-api==2.0.2
django-oscar-api-checkout==1.0.0
django-otp==0.7.4
django-package-monitor==0.6.1
django-payslip==0.3.2
django-peavy==0.9.0
django-phonenumber-field==4.0.0
django-post-office==3.2.1
django-prices==2.2.0
django-prices-openexchangerates==1.1.0
django-prices-vatlayer==1.0.2
django-prometheus==1.1.0
django-pwa==1.0.9
django-qsstats-magic==1.1.0
django-recaptcha==2.0.5
django-render-block==0.6
django-reservation==0.2.9
django-rest-auth==0.9.5
django-rest-authtoken==1.2.4
django-rest-swagger==2.2.0
django-robots==4.0
django-sekizai==1.0.0
django-sendsms==0.4
django-silk==2.0.0
django-simple-history==2.8.0
django-simple-math-captcha==1.0.9
django-sitemaps==1.1.1
django-smuggler==1.0.1
django-social-share==1.4.0
django-south-admin==0.0.3
django-split-settings==1.0.1
django-storages==1.9.1
django-tables2==1.21.2
django-taggit==1.2.0
django-task-manager==0.1
django-tellme==0.6.5
django-templated-email==2.3.0
django-tracking2==0.5.0
django-treebeard==4.3.1
django-twilio==0.11.0
django-user-accounts==2.1.0
django-user-agents==0.4.0
django-vanilla-views==1.0.6
django-versatileimagefield==2.0
django-widget-tweaks==1.4.8
djangocms-admin-style==1.4.0
djangorestframework==3.11.0
djcacheutils==3.0.0
dnspython==1.16.0
docker==4.2.0
docutils==0.16
draftjs-exporter==2.1.7
draftjs-sanitizer==1.0.0
easy-thumbnails==2.7
email-reply-parser==0.5.9
engineering-notation==0.6.0
enmerkar==0.7.1
entrypoints==0.3
enum-compat==0.0.2
face-recognition-models==0.3.0
factory-boy==2.12.0
Faker==4.1.0
filebrowser-safe==0.5.0
filelock==3.0.12
flake8==3.7.8
Flask==1.1.1
Flask-Compress==1.4.0
flower==0.9.3
freezegun==0.3.15
future==0.18.2
geographiclib==1.50
geopy==1.21.0
google-api-core==1.16.0
google-api-python-client==1.4.1
google-auth==1.11.2
google-cloud-core==1.3.0
google-cloud-storage==1.26.0
google-i18n-address==2.3.5
google-measurement-protocol==1.0.0
google-resumable-media==0.5.0
googleapis-common-protos==1.51.0
gprof2dot==2016.10.13
graphene==2.1.8
graphene-django==2.8.2
graphene-django-optimizer==0.6.1
graphene-federation==0.0.3
graphql-core==2.3.1
graphql-relay==2.0.1
grappelli-safe==0.5.2
gunicorn==20.0.4
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.2.5
html-to-draftjs==1.0.1
html5lib==1.0.1
httplib2==0.16.0
httptools==0.0.13
httpx==0.11.1
hyperframe==5.2.0
identify==1.4.15
idna==2.9
immutables==0.11
importlib-metadata==1.6.0
importlib-resources==1.5.0
ipykernel==5.1.2
ipython==7.8.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
itypes==1.1.0
jaeger-client==4.3.0
jedi==0.15.1
Jinja2==2.11.1
jmespath==0.9.4
joblib==0.14.1
jsonfield==3.0.0
jsonschema==3.0.2
jupyter==1.0.0
jupyter-client==5.3.2
jupyter-console==6.0.0
jupyter-core==4.5.0
justpy==0.0.5
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
kombu==4.6.7
l18n==2018.5
langcodes==1.4.1
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
ldif3==3.1.1
lxml==4.5.0
macaroonbakery==1.1.3
Mako==1.0.7
# marisa-trie==0.7.5
Markdown==3.2.1
markdown2==2.3.8
MarkupSafe==1.1.1
matplotlib==3.1.3
maxminddb==1.5.2
maxminddb-geolite2==2018.703
mccabe==0.6.1
measurement==3.2.0
Mezzanine==4.3.1
mistune==0.8.4
more-itertools==7.2.0
mpmath==1.1.0
msgpack==1.0.0
mysql-connector-python==8.0.19
nbconvert==5.6.0
nbformat==4.4.0
netifaces==0.10.4
nltk==3.4.5
nodeenv==1.3.5
nose==1.3.7
notebook==6.0.1
numpy==1.18.1
oauth==1.0.1
oauth2client==4.1.3
oauthlib==3.1.0
olefile==0.45.1
openapi-codec==1.3.2
opentracing==2.3.0
ordered-set==3.0.2
packaging==19.1
pandas==1.0.1
pandocfilters==1.4.2
parso==0.5.1
pathtools==0.1.2
pexpect==4.7.0
phonenumbers==8.12.5
phonenumberslite==8.11.4
pickleshare==0.7.5
Pillow==7.1.2
pipdeptree==0.13.2
plotly==4.5.0
pluggy==0.13.0
ply==3.11
pre-commit==2.4.0
prices==1.0.0
prometheus-client==0.7.1
promise==2.3
prompt-toolkit==2.0.9
protobuf==3.11.3
psycopg2-binary==2.8.4
ptyprocess==0.6.0
puput==1.1.0
purl==1.5
py==1.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycairo==1.16.2
pycodestyle==2.5.0
pycparser==2.19
pycrypto==2.6.1
pycups==1.9.73
pyflakes==2.1.1
Pygments==2.5.2
pygubu==0.9.8.4
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.1.2
pyparsing==2.4.6
Pyphen==0.9.5
pyRFC3339==1.0
pyrsistent==0.15.4
PySocks==1.7.1
pytest==5.1.2
python-card-me==0.9.3
python-dateutil==2.8.1
python-debian==0.1.32
python-decouple==3.3
python-gnupg==0.4.5
python-magic==0.4.15
python-memcached==1.59
python-nvd3==0.14.2
python-slugify==1.1.4
python3-openid==3.1.0
pytz==2020.1
pyxdg==0.25
PyYAML==5.3.1
pyzmq==18.1.0
qrcode==6.1
qtconsole==4.5.5
razorpay==1.2.0
rcssmin==1.0.6
redis==3.4.1
regex==2018.2.21
reportlab==3.4.0
requests==2.23.0
requests-oauthlib==1.3.0
requests-unixsocket==0.1.5
requirements-parser==0.1.0
retrying==1.3.3
rfc3986==1.3.2
rjsmin==1.1.0
rsa==4.0
Rx==1.6.1
s3transfer==0.3.3
scikit-learn==0.21.3
scipy==1.4.1
seaborn==0.10.0
SecretStorage==2.3.1
semantic-version==2.8.5
Send2Trash==1.5.0
sentry-sdk==0.14.1
simplejson==3.17.0
singledispatch==3.4.0.3
six==1.15.0
sklearn==0.0
sniffio==1.1.0
sorl-thumbnail==12.6.3
soupsieve==1.9.5
South==1.0.2
sphinx-me==0.3
sqlparse==0.3.1
starlette==0.13.1
static3==0.7.0
statistics==1.0.3.5
streamlit==0.47.3
stripe==2.42.0
structlog==19.2.0
surlex==0.2.0
swapper==0.1.1
sympy==1.5.1
tapioca-disqus==0.1.2
tapioca-wrapper==0.5.3
termcolor==1.1.0
terminado==0.8.2
testpath==0.4.2
text-unidecode==1.3
textblob==0.15.3
threadloop==1.0.2
thrift==0.13.0
tinycss2==1.0.2
tk-tools==0.12.0
toml==0.10.0
toolz==0.10.0
topia.termextract==1.1.0
tornado==6.0.3
tox==2.5.0
tqdm==4.43.0
traitlets==4.3.2
tweepy==3.8.0
twilio==6.35.2
twitter==1.18.0
twitter-monitor==0.3.0
typing==3.7.4.1
tzlocal==2.0.0
ua-parser==0.10.0
unicode==2.7
unicodecsv==0.14.1
Unidecode==1.1.1
unidiff==0.5.4
uritemplate==3.0.1
urllib3==1.25.9
user-agents==2.1
uvicorn==0.11.2
uvloop==0.14.0
uWSGI==2.0.18
validators==0.14.0
vine==1.3.0
virtualenv==20.0.20
wadllib==1.3.2
wagtail==2.8.1
watchdog==0.9.0
wcwidth==0.1.7
WeasyPrint==51
webencodings==0.5.1
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.0
whitenoise==2.0.6
widgetsnbextension==3.5.1
Willow==1.3
wordfreq==2.2.1
xlrd==1.2.0
xlwt==1.3.0
zipp==3.1.0
zope.interface==4.7.1
django==2.2
