{% extends "oscar/layout.html" %}
{% load i18n %}

{% block title %}
    {% trans "Edit address" %} | {{ block.super }}
{% endblock title %}
{% block content %}
<h1 syle="margin-left:30%;">Edit address</h1>

{% block shipping_address %}
    <div class="well">
        <form id="update_user_address" method="post" class="form form-horizontal">
            {% csrf_token %}
            {% include "oscar/partials/form_fields.html" with form=form style='horizontal' %}
            <div class="form-group">
                <div class="col-sm-offset-4 col-sm-8">
                    <button type="submit" class="btn btn-lg btn-primary" data-loading-text="{% trans 'Saving...' %}">{% trans "Save" %}</button>
                    {% trans "or" %} <a href="{% url 'checkout:shipping-address' %}">{% trans "cancel" %}</a>.
                </div>
            </div>
        </form>
    </div>
{% endblock shipping_address %}
{% endblock content %}