/*-- //banner-top --*/
.carousel-caption {
    position: inherit;
    min-height: 500px!important;
    padding-top: 5%;
}

/*-- banner --*/
.carousel-caption h2, .carousel-caption h3 {
    font-size: 3em;
    font-weight: 300;
    color:rgb(97, 218, 27);
    letter-spacing: 14px;
    text-transform: uppercase;
}

.carousel-caption p {
    letter-spacing: 12px;
    font-size: 1.2em;
    font-weight: 600;
    color: #1814f0;
    margin-top: 1em;
}

.carousel-caption a {
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
    padding: 8px 20px;
    margin-top: 2em;
}
.carousel-indicators {
    bottom: 8%;
}
.carousel-caption h2, .carousel-caption h3 {
    font-size: 2.5em;
    letter-spacing: 12px;
}

.carousel-caption {
    min-height: 450px!important;
    padding-top: 9em;
}

@media (max-width: 1024px) {

    .carousel-caption p {
        letter-spacing: 11px;
        font-size: 1.1em;
        margin-top: 1em;
    }

}   