{% load static %}
<div class="modal fade product_view" id="product_view">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                <a href="#" class="navbar-brand">
                    <img src="{%static 'core/logo.png'%}" height="60" width='60'alt="Roselian"><div class="col-sm-7 h1"><a href="{{ homepage_url }}">{% block brand_title %}</a><small style='color:black;'><br> {{ shop_tagline }}</small>{% endblock %}</div>
                </a>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                            <div id="product_gallery" class="carousel slide">
                                <div class="thumbnail">
                                    <img id='cakeimage' src=''>
                                </div>
                            </div>        
                    </div>
                    <div class="col-md-6 product_content">
                        <p id='cakename'></p>
                        <h3 class="card-title" >Description</h3>
                        <p  id='cake-description'></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
$('.add-card').click(function(){
    $('#cake-description').html($(this).data('description'));
    $('#cakename').html($(this).data('name'));
    $('#cakeimage').attr('src',  $(this).data('img'));

});
</script>
