spinners-container .spinner-block {
  width: 50px;
  text-align: center;
  margin-right: 83px;
}
.spinners-container .spinner-block:nth-child(5n) {
  margin-right: 0px;
}
.spinners-container .spinner-block h2 {
  margin: 0px 0px 20px 0px;
}

/* YOU NEED THESE STYLES */
/* spinner style */
.spinner-eff {
  position: relative;
  width: 50px;
  height: 50px;
}
.spinner-eff:before, .spinner-eff:after {
  content: "";
  display: block;
}
.spinner-eff .spinner-bar:before, .spinner-eff .spinner-bar:after {
  content: "";
  display: block;
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 100px; /* Set a default minimum width */
    background-color:white ; /* Black background color */
    color:red; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 79%; /* Center the snackbar */
    bottom: 20%; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.show {
    visibility: visible !important; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar.
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/* spinner-1 styles */
@-webkit-keyframes rotation-top {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  20% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0.5;
  }
}
@keyframes rotation-top {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  20% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0.5;
  }
}
@-webkit-keyframes rotation-right {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  40% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0.5;
  }
}
@keyframes rotation-right {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  20% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  40% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0.5;
  }
}
@-webkit-keyframes rotation-bottom {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  60% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0.5;
  }
}
@keyframes rotation-bottom {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  40% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  60% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  80% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0.5;
  }
}
@-webkit-keyframes rotation-left {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  80% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0.5;
  }
}
@keyframes rotation-left {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    opacity: 0.5;
  }
  80% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    opacity: 0.5;
  }
}
.spinner-eff.spinner-eff-1 .bar {
  width: 0;
  height: 0;
  border: 25px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  opacity: 0.5;
}
.spinner-eff.spinner-eff-1 .bar-top {
  border-top: 25px solid #47A8BD;
  -webkit-animation: rotation-top 3.6s linear 0s infinite;
          animation: rotation-top 3.6s linear 0s infinite;
}
.spinner-eff.spinner-eff-1 .bar-right {
  border-right: 25px solid #47A8BD;
  -webkit-animation: rotation-right 3.6s linear 0s infinite;
          animation: rotation-right 3.6s linear 0s infinite;
}
.spinner-eff.spinner-eff-1 .bar-bottom {
  border-bottom: 25px solid #47A8BD;
  -webkit-animation: rotation-bottom 3.6s linear 0s infinite;
          animation: rotation-bottom 3.6s linear 0s infinite;
}
.spinner-eff.spinner-eff-1 .bar-left {
  border-left: 25px solid #47A8BD;
  -webkit-animation: rotation-left 3.6s linear 0s infinite;
          animation: rotation-left 3.6s linear 0s infinite;
}